/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*     Base Styles Header & Footer    */

header, 
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header{
  padding: 15px 0;
}

header .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 55%;
}

header a{
  padding-bottom: 10px;
}
.header-divider{
  width: 100%;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
  padding-top: 20px

}

header nav ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* header nav ul li{} */

footer {
  flex-direction: column;
}

footer .content-wrapper{
  width: 55%;
}

/* .footer-content{} */

/* .footer-content h3{} */

/* .contact{
  display: flex;
} */

/* .contact h3{} */

/* .contact address{} */

/* footer .social{
  display: flex;
} */

/* footer .social h3{} */

footer .social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer .copyright{} */

/* --------------------Mobile Styles Hompage---------------------- */

/* Hero Area */

.hero-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 0 0 20px;
  padding-top: 55px;
}

/* .hero-area .content-wrapper{} */

.hero-area h1{
  margin: 0 ;
  /* padding-left: 20px; */
}

/* Newsletter Signup */

aside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  margin: 0;
  
}

aside .content-wrapper{
  width: 100%;
  padding-left: 20px;
}

aside .form-description{
  margin-top: 30px;
}

aside .form-description h3{
  margin: 0;
}

.form-description p{
  margin-top: 15px;
}

aside .form{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

aside .form h3{
  margin: 0;
  padding-bottom: 20px;
}

aside .form input{
  width: 100%;
  margin-bottom: 20px;
}

/* Features Homepage*/


.features{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features .content-wrapper{
  padding: 0 35px 0 20px;
}

/* .features h2{} */

.features .features-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-items article {
  width: 55%;
}

/* .fontawesome-icon{} */

.features-item-description{
  text-align: center;
}

/* Reviews Homepage*/

.reviews{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews .content-wrapper{
  padding: 20px;
}

/* .reviews h1{} */

/* .reviews article{} */

.reviews h3{
  width: 50%;
}

/* .reviews article p{} */

/*  ==========================
        About Page Styles    
    ========================== */

.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
  /* ==================
      FAQ Page Styles    
    ================== */
.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
  /* ---- Tablet Styles ---- */

  header{
    padding: 0;
  }

  header .content-wrapper{
    width: 640px;
    margin: 30px 0;
  }

  .header-divider{
    display: none;
  }
  
  header a{
    width: 50%;
    padding: 0;
  }
  header nav{
    width: 50%;
    padding: 0;
  }

  header nav ul{
    width: 50%;
  }

  /* ------ Hero Area ------  */

  .hero-area{
    width: 640px;
    margin: 100px 0;
    padding: 0;
  }

  aside .content-wrapper{
    display: flex;
    width: 640px;
    margin: 0 65px ;
    padding: 0;
    flex-wrap: nowrap;
  }

  aside .content-wrapper .form-description{
    width: 50%;
    margin: 0;
    flex-basis: 250px;
    padding-right: 70px;
  }

  aside .content-wrapper .form{
    width: 50%;
    margin: 0;
    flex-basis: 290px;
    padding-left: 30px;
  }


  /*  ------- Features Area -------- */

  .features .content-wrapper{
    width: 640px;
    margin: 0 65px;
    padding: 0;
  }

  .features-items article{
    display: flex;
    width: 50%;
    flex-flow: row wrap ;
  }

  .features-item-description{
    padding: 0 65px;
  }

  /*  ---- Reviews Area -----  */
  .reviews{
    width: 640px;
    margin: 0 65px;
    padding: 0;
  }

  /*  ----- Footer Styles -----  */

  footer .content-wrapper{
    width: 640px;
  }

  .footer-content{
    display: flex;
    flex-wrap: nowrap;
  }

  footer .contact{
    width: 320px;
  }

  footer .social{
    width: 320px;
  }

  /* ==============================================
  -----------------About Page --------------------- 
  =================================================*/

  
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 65px;
}

.mission-content p {
    width: 320px;
}

.contact-section .content-wrapper h2 {
    width: 560px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */
   .faq .content-wrapper {
    justify-content: space-between;
}

.faq-content {
    flex-basis: 40%;
}

.faq h2 {
    width: 100%;
}


}



@media only screen and (min-width: 1200px){
  /* ---- Desktop Styles ---- */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

